@import url("https://fonts.googleapis.com/css2?family=Arial:wght@400&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

section {
  height: 100%;
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}
.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
nav h1 {
  font-size: 40px;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
nav h1 i {
  rotate: 45deg;
  display: inline-block;
}
nav h4 {
  font-size: 25px;
  font-weight: 200;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
nav button {
  padding: 15px 20px;
  font-size: 25px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid black;
  font-weight: 600;
}
.center {
  height: 85%;
  width: 100%;
  display: flex;
  padding: 30px 20px;
}
.center-part1 {
  height: 100%;
  width: 36%;
}

.center-part1 h1 {
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 70px;
}
.center-part1 p {
  font-size: 28px;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 25px;
}
.center-part1 button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 7px 14px;
  font-size: 25px;
  font-weight: 600;
  border: none;
}
.center-part2 {
  height: 100%;
  width: 55%;
  position: relative;
}
.center-part2 img {
  height: 100%;
  position: absolute;
  right: 0;
}
.section1bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 120px;
}
.section1bottom img {
  height: 60px;
}
.dribble {
  margin-bottom: 31px;
}
.hubspot {
  margin-bottom: 31px;
}
.notion {
  margin-bottom: 31px;
  height: 100px;
  width: 100px;
}
.netflix {
  margin-bottom: 31px;
  height: 100px;
  width: 100px;
}
.zoom {
  margin-bottom: 31px;
  height: 100px;
  width: 100px;
}
.section2 .services{
  margin-top: 120px;
  background-color: red;
  padding: 30px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
